{%extends 'layout/base.html'%}


{% block 'title' %} Contacto {% endblock  %}
    

{% block 'content' %}
<form class="search" action="{% url 'contact' %}" method="GET">
    <input type="text" name="search" class="search-bar" placehorder="Buscar contacto...">
    <input type="submit" class="btn btn-search" value="Buscar">
</form>
<span class="aux-btn"><a href="{% url 'contact' %}">Ver todos</a><a href="{% url 'contact_create' %}">Añadir</a></span>
    <ul class="list">
        {% for contact in contacts  %}
            <li>{{contact}} 
                <span>
                    <a href="{% url 'contact_views' id=contact.id %}" class="btn btn-detail">Ver</a>
                    <a href="{% url 'contact_edit' id=contact.id %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'contact_delete' id=contact.id %}" class="btn btn-delete">Borrar</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock  %}
    
    